
.card{
 background-color: black;
 border: 2px solid gray;
 border-top-style: none;
 transition: transform .3s;
 /* box-shadow: 1px 1px  rgba(130, 129, 121, 0.492); */
 /* animation: mymove 5s infinite; */
 /* box-shadow: 5px 10px 8px #888888 */
 box-shadow: 20px 20px 15px grey;
 
}
.card:hover {
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
    box-shadow: 3px 3px  rgba(145, 143, 130, 0.914);
    /* box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; */
    /* box-shadow: -5px -5px  #888888; */
    transform: scale(1.09);
}
.card-body{
    /* border: 2px solid gray; */
    border-top-style: none;
    /* border-top-left-radius: 2px;
    border-top-right-radius: 2px; */

    background-color: rgb(3, 3, 3);

    /* background-color: rgb(8, 7, 7); */
    color: azure;
    border-radius:  5px;
    ;
}
.card-body p{
    color: antiquewhite;
}

.card-body a{
    color: antiquewhite;
}
.card img{
    border: 2px solid black;
    border-radius:  7px;
}
.text-muted{
    color: whitesmoke;
}
.card-text1{
    color: aliceblue;
}

.carrd-title span{
    color: black;
}
/* 
@keyframes mymove {
    50% {box-shadow: 10px 20px 30px rgb(132, 132, 151);}
  } */
